<%- include("./partials/head.ejs") %>
    <a href="/pokemon/new">CREATE NEW POKEMON</a>
    <h1>Pokedex</h1>
    <ul>
    <% pokes.forEach((poke, index) => { %>
        <a href="/pokemon/<%= index %>"><img src="<%- poke.img %>"></a>

    <% }) %>
    </ul>
